@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	scroll-behavior: smooth;
	user-select: none;
}
a{
	display: inherit;
	text-decoration: none;
}
nav a:hover,footer a: hover{
	opacity: .5;
}
ul{
	list-style: none;
}

.inicio{
	display: block;
	justify-content: center;
	text-align: center;
	background-color:rgb(255, 157, 191);
	padding: 5px;
}
.inicio__nombre{
	font-family: 'Dancing Script',cursive;
	font-size: 40px;
	padding: 0px 30px;
}
.inicio__navegacion{
	display: block;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}
.inicio__navegacion a{
	color: rgb(232, 232, 232);
}
.navegacion__link{
	padding: 15px 20px;
}
.principal{
	background-color: rgb(232, 232, 232);
}
.principal__logo{
	padding: 30px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	height: 250px;
}

.principal__logo img{
	width: 250px;
	height: 100%;
	border-radius: 1000px;
	object-fit: cover;
	filter: drop-shadow(0px 0px 5px #000);
}
.principal__galeria-grid{
	display: grid;
	grid-template-columns: repeat(1, minmax(200px,200px));
	grid-gap: 3em;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
.galeria-grid__item{
	width: 200px;
	height: 200px;
	display: flex;
	border-radius: 5px;
	transition: all 300ms;
	filter: drop-shadow(0px 0px 5px #000);
	justify-content: left;
	align-items: flex-end;
}

.galeria-grid__item__img{
	width: 200px;
	height: 200px;
	position: relative;
}
.contenedor__titulo{
	color: rgb(232, 232, 232);
	display: flex;
	align-items: center;
	position: absolute;
	font-size: 15px;
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, .5);
	margin: 0 auto;
	z-index: 1;
	opacity: 1;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;

}
.galeria-grid__item__titulo{
	padding-left: 10px;
}
.galeria-grid__item:hover{
	transform: scale(1.15);
}
footer{
	font-family: 'Roboto';
	color: rgb(232, 232, 232);
	text-align: center;
	height: 400px;
	width: 100%;
	display: block;
	background-color: rgb(255, 157, 191);
}
.pie_de_pagina{
	height: 310px;
	padding: 20px 0px 0px 20px;
}
.pie_de_pagina__navegacion{
	padding: 0px 20px;
	text-align: center;
}

.pie_de_pagina__navegacion ul{
	padding: 0px 0px;
}
.pie_de_pagina__navegacion ul li{
	padding-bottom: 10px;
}
.pie_de_pagina__navegacion a{
	color:rgb(232, 232, 232);
}
.pie_de_pagina__rsociales{
	padding: 0px 20px;
}
.rsociales__logos{
	display: flex;
	justify-content: center;
}
.pie_de_pagina__rsociales img{
	width: 30px;
	height: 30px;
	padding: 0px 3px;
}
.pie_de_pagina__contactanos{
	padding: 0px 20px;
}
.contactanos__contacto{
	display: flex;
	align-items: top;
	justify-content: center;
}
.contactanos__contacto img{
	width: 25px;
	height: 25px;
	padding: 0px 6px;
}
.contactanos__contacto h5{
	margin: 5px 0px	;
}
.contactanos__info{
	background-color: rgb(207, 117, 148);
	height: 50px;
	width: 100%;
}
.contactanos__info h5{
	padding-top: 10px;
	padding-right: 20px;
}
@media(min-width: 500px){
	.principal__galeria-grid{
		grid-template-columns: repeat(auto-fill, minmax(200px,200px));
	}
}

@media (min-width: 750px){
	.inicio{
		display: flex;
		justify-content: space-between;
	}
	.inicio__nombre{
		font-size: 30px;
	}
	.inicio__navegacion{
		display: flex;
	}
	.navegacion__link{
		padding: 0px 20px;
	}
	.principal__galeria-grid{
		padding: 60px 60px 120px 60px ;
		grid-template-columns: repeat(auto-fill, minmax(250px,350px));
	}
	.galeria-grid__item{
		width: 350px;
		height: 350px;
	}
	.galeria-grid__item__img{
		height: 350px;
		width: 350px;
	}
	.contenedor__titulo{
		font-size: 20px;
	}
	footer{
		height: 220px;
	}
	.pie_de_pagina{
		display: flex;
		height: 150px;
		justify-content: center;
	}
	.pie_de_pagina__navegacion{
		text-align: left;
	}
	.contactanos__info{
		height: 40px;
	}
	.contactanos__info h5{
		text-align: right;
	}
}